body {
    background-image: url(/img/desk.jpg);
    background-repeat: no-repeat;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #434343;
}

.containment {
    display: flex;
    width: 1060px;
    height: 1024px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 275px;
    height: 600px;
    background-color: #fff;
    border: .15rem solid #000;
    box-sizing: border-box;
    box-shadow: .125rem .125rem grey;
}

.title, .copyright{
    margin-left: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 0;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    height: 150px;
}

.nav-links li {
    font-size: 1.25rem;
    list-style-type: none;
    margin-left: 0;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    margin-left: -10px;
    color: #434343;
}

.copyright {
    font-size: .9rem;
    position: relative;
}

.blog-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 2rem 4rem;
    box-sizing: border-box;
    color: white;
}

.blog-content header p {
    margin-top: 3rem;
}

.blog-content p {
    margin-top: 0;
}

.blog-content h2 {
    margin: 2rem 0 0 0;
}

.image-bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 120px;
    height: 600px;
    padding: 1rem 0;
    box-sizing: border-box;
}
