@supports (display: grid) {

    .page {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      gird-template-columns: 1fr;
      grid-template-rows: 1fr 20px auto 60px;
      grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }

    .page-header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
    }

    .page-nav-top {
        grid-area: nav;
        padding: 10px;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
    }

    .page-content {
        grid-area: main;
    }

    .page-footer {
        grid-area: footer;
    }

}
