.footer-social-header {
    font-size: 1.4em;
}

.footer-social-icons {
    width: 350px;
    display: block;
}

.footer-social-list .social-icon {
    color: #602d0a;
}

ul.social-icons {
    margin-top: 10px;
}

.footer-social-icons li {
    vertical-align: top;
    display: inline;
    height: 50px;
}

.social-icon a {
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F8F8FF;
}

.fa-facebook:hover {
    background-color: #3d5b99;
    border-radius: 50%;
    color: #fff;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F8F8FF;
}

.fa-twitter:hover {
    background-color: #00aced;
    border-radius: 50%;
    color: #fff;
}

.fa-youtube {
    padding: 10px 14px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F8F8FF;
}

.fa-youtube:hover {
    background-color: #e64a41;
    border-radius: 50%;
    color: #fff;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F8F8FF;
}

.fa-linkedin:hover {
    background-color: #0073a4;
    border-radius: 50%;
    color: #fff;
}

.fa-google-plus {
    padding: 10px 9px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F8F8FF;
}

.fa-google-plus:hover {
    background-color: #e25714;
    border-radius: 50%;
    color: #fff;
}
